body {
    padding: 0;
    /* overflow: hidden; */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.map {
    position: absolute;
    right: 0px;
    left: 650px;
    height: 100%;
    top: 0;
}

.sidebar {
    width: 650px;
    height: 100%;
    top: 0;
}

.item {
    padding: 10px;
    background-color: #eee;
}

.item:not(:last-child) {
    margin-bottom: 10px;
}

.item-heading {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
}

.sort {
    position: absolute;
    bottom: 0;
    padding-bottom: 20px;
    background-color: #fff;
}

.sort-option {
    margin-left: 10px;
}

.sort-option.selected {
    border-bottom: 1px solid #ccc;
}

.sidebar nav.navbar-default {
    border: 0;
    top: 0;
    border-radius: 0;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    margin-top: 10px;
    padding-bottom: 15px;
}

.navbar {
  position: relative;
  padding-left: 0;
  padding-right: 0;
}

.navbar-brand {
    font-size: 14px;
    font-weight: bold;
}

.topright-button {
  position: absolute;
  right: 0;
}

.btn-info {
  border-radius: 0;
  border-color: white;
}

.btn-info:hover {
  background-color: #17a2b8;
}

.container-fluid.clearfix {
  padding: 0;
}

.col {
  height: -webkit-fill-available;
}

.row {
  height: 100%;
}

.dropdown-item {
  text-align: right;
}

.fa-search {
  color: #007BBE;
}

.btn-outline-secondary {
  border-color: lightgray;
}

.form-control {
  border-radius: 0;
}

#side-list {
  background-color: #384B58;
}

/* =============
Media Queries
============= */

@media screen and (min-width: 480px) and (max-width: 800px) {
    /*.item {
        background-color: blue;
    }*/
}

@media screen and (max-width: 479px) {
    /*.item {
        background-color: red;
    }*/
}
